VITE_APP_API_URL="http://localhost:8080"
VITE_APP_CATEGORY_VERSION="false"
VITE_APP_ENV="development"
VITE_APP_LINE_ADD_FRIEND_URL=""
VITE_APP_LINE_LIFF_ACCOUNT_URL="https://liff.line.me/REPLACE_WITH_YOUR_LIFF_ID"
VITE_APP_LINE_MANAGER_URL="https://manager.line.biz/account/REPLACE_WITH_MANAGER_ID"
VITE_APP_LINE_QR_URL="https://qr-official.line.me/gs/AAAAAAAA.png?oat_content=qr"
VITE_APP_SYSTEM_TITLE="KAKERU"
VITE_APP_TEST_USER_PASSWORD="testtest1"
VITE_APP_TEST_USER="test_admin"