/node_modules/
.htaccess
*.code-workspace
.vscode
.eslintcache
/logs/
/public/
/backend/
/backend-src/backend/tests/coverage
/build/
/coverage
/schemas
/contracts
thunder-tests/thunderActivity.json
.vscode/settings.json
server.js
app.js
.DS_Store
.eslintcache
.env*
.flaskenv*
!.env.project
!.env.vault
!.env.example
backend-src/tests/coverage/
